@import url('../css/cdn.css');

.awesome {
    padding: 100px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
}
.line {
    width: 64px;
    height: 2px;
    border: 1px solid #E72424;
    margin: 40px auto 0;
}
.title-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 40px;
    color: #86878B;
}

.wrap-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.card {
    width: 350px;
    }
    
.card-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #E72424;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
}
.card-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 30px;
}
.card-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}