@import url('../css/cdn.css');
@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/design.css');
@import url('../css/contact.css');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: 'Raleway';
}