@import url('..css/cdn.css');

html {
    font-family: 'Raleway';
}
.pricing {
    padding: 100px 0;
    background-color: #F5F5F5;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
}
.line {
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: 30px auto 0;
}
.title-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 40px;
    color: #86878B;
    margin-bottom: 60px;
}
.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.pricing-list{
    width: 340px;
    margin: 0 15px;
}
.list-item-tariph{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 52px;
    background-color: #333333;
    text-align: center;
    margin-bottom: 2px;
}
.list-item-cost{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 87px;
    background: #333333;
    text-align: center;
    margin-bottom: 2px;
}
.list-item-period{
    font-family: 'Open Sans', sans-serif;
    color: rgb(150, 150, 150);
    font-weight: 600;
    font-size: 14px;
    line-height: 52px;
    background: #333333;
    text-align: center;
}
.list-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    background: #FFFFFF;
    color: #86878B;
    text-align: center;
    margin-bottom: 4px;
}